<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinewood Recap</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='recap.css') }}">
  </head>
  <body>
    <div class="recap-bg">
      <div>
        <p>Not in recap container</p>
      </div>
    </div>
    <div class="recap-container">
      <div class="slides">
        <div class="slide-base" id="slide1">
          <div class="photos-album-selection-scroll"></div>
          <div class="slide-1-hero">
            <h1 id="txt-to-fade-in">Your Recap</h1>
            <p>By the <a href="https://techclub.pw" target="_blank"><span class="txt-em cas-bounce">Pinewood Tech Club</span></a></p>
            <p style="opacity: 1;" id="do-the-fade-in-thing">Click/tap to proceed, use arrow keys/swipe for navigation.</p>
          </div>
        </div>
        <div class="slide-base" id="slide2" style="display: none">
          <p>You completed</p>
          <h1><placeholder data-var="total_assignments"></placeholder></h1>
          <p>assignments this semester.</p>
          <p>Your busiest month was <b><placeholder data-var="busiest_month"></placeholder></b> during which you completed <b><placeholder data-var="busiest_month_count"></placeholder></b> assignments.</p>
          <div class="gh-contr-graph"></div>
        </div>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/recap.js') }}"></script>
</html>
