{% extends "layout.html" %}
{% block title %}Schoology Recap - {{ user_name }}{% endblock %}
{% block meta %}
  <meta property="og:title" content="{{ user_name }}'s Schoology Recap" />
  <meta property="og:description" content="{{ user_name }} did {{ total_assignments }} assignments in {{ total_courses }} courses. Find more stats by clicking the link! You can also generate your own at recap.pinewood.one" />
  {% if share_image_url %}
  <meta property="og:image" content="{{ share_image_url }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="{{ share_image_url }}" />
  {% endif %}
{% endblock %}
{% block content %}
<div class="card wide-card">
  <h1>{{ user_name }}'s Recap</h1>
  <iframe src="{{ recap_url }}?embed=true" width="80%" height="600px" style="border: none; border-radius: 24px;"></iframe><br />
  <a class="button" href="https://recap.pinewood.one">Generate your own recap</a>
  <p class="note">Making your own recap is really easy! You just sign in with your Schoology account and we&apos;ll do the rest.</p>
  <p class="note">Your data is subject to our <a href="/terms">terms</a>.</p>
</div>
{% endblock %}
